.header {
    height: 55px;
    width: 100%;
    background: red;
}

.header-title {

}

.nav-ctn {
    display: flex;
    flex-direction: row;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links-list {
    display: flex;
    flex-direction: row;
}

.header-title {
    font-size: 44px;
}